@import "tailwindcss";

@theme {
  --color-olive: #31372b;
  --color-fuzz: #FEDAB8;
}
html, body {
  font-family: 'Poppins', sans-serif;
  cursor:default;
  height: 100%;
  margin: 0;
  background-color: #f7f8fa
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.group{
  animation: scroll 20s infinite linear;
}
@keyframes scroll {
  from{translate: 0;}
  to{translate: -100%;}
}